h1{
    font-size: 40px;
    
}
.width{
    width: 50%;
    padding-left: 10%;
}
.color{
    color: tomato;
}
.width img{
    width: 40%;
    
    
}
.ink_button{
        text-decoration: none;
        background-image: linear-gradient(orange, tomato);
        background-color: orange;
        padding: 10px 40px;
        border-radius: 30px;
        color: white;
        font-weight: 700;
    
}         
.button{
      margin-top: 40px;
  }  
    
      

.topbanner{
    display: flex;
    border-bottom: 200px;
    padding-bottom: 50px;
    background-image: url(images/shapes/7.png);
    
}

.second_banner{
    display: flex;
    border-bottom: 200pxp;
    height: 300px;
    padding-bottom: 50px;
    background-image: url(images/shapes/Frame\ 58.jpg);
}
.paragraph{
    width: 30%;
}
.images{
    height: 100%;
    
}
.center{
    text-align: center;
    width: 50%;
    margin: auto;
}
.third_banner{
    display: flex;
    border:0;
    height: 460px;
    justify-content: center;   
    border-radius: 20px 20px; 
}
.third_banner img{
    height: 100%;
    width: 100%;
}
.margin{
    margin: 20px;
    box-shadow: 5px 5px 40px wheat;
    border-radius: 5% 5%;
    text-align: center;

}
.footer{
    text-align: center;
    font-size: 20px;

}
a{
    text-decoration: none; 
}


